h6 {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  

main{
    display: flex;
    flex-direction: row;

    padding: 5px;
    margin: 5px;
}

aside{
    flex : 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

#mainContainerId{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}
/* 
#currentWeatherContainerId{
    display: flex;
    flex-direction: column;
    border: 5px;
    border-style: outset;
    border-radius: 10px;
    
    padding: 10px;
    margin: 10px;
    
} */
#fiveDaysWeatherContainerId{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 5px;
    margin: 5px;
}
#cityContainerId{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.weatherCard{
    display: flex;
    flex-direction: column;
    
    border: 2px;
    border-style: outset;
    border-radius: 10px;

    padding: 5px;
    margin: 5px;
}

header{
    background-color: lightgray;
    justify-content: center;
    text-align: center;
}

button{
    
    padding: 2px;
    margin: 2px;
}

/* button style */
#searchBtnId {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    border-radius: 5px;
    
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* button hover effect */
  #searchBtnId:hover {
    background-color: #3e8e41; /* Darker green */
  }
  
  /* button active effect */
  #searchBtnId:active {
    background-color: #3e8e41; /* Darker green */
    box-shadow: 0 5px #666; /* Add a shadow on click */
    transform: translateY(4px); /* Move down on click */
  }
  
